$card-background: #d8c58b;
$c-black: #03060e;
$c-yellow: #f5ee00;
$c-blue: #84c0da;
$border: 3px solid $c-black;
$thin-border: 2px solid $c-black;
$block-shadow: 3px 3px 0 0 rgba(0, 0, 0, 1);

.commonComicStyle {
  border: $thin-border;
  box-shadow: $block-shadow;
  background-color: $c-yellow;
}

.card {
  font-family: 'Bangers', cursive;
  box-sizing: border-box;
  width: 360px;
  transition: all 1s;
  height: 300px;
  background-color: $card-background;
  border-radius: 12px;
  box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, .41);
  padding: 12px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 25px;
}

.card-expanded {
  height: 550px;
  width: 500px;
}

.image {
  width: 100%;
  height: 0;
  padding-bottom: 70%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border: $border;
  position: relative;
}

.subtitle {
  border: $thin-border;
  box-shadow: $block-shadow;
  background-color: $c-yellow;
  position: absolute;
  display: block;
  top: 8px;
  left: -5px;
  padding: 5px 7px;
  font-size: .9em;
}

.name {
  border: $thin-border;
  box-shadow: $block-shadow;
  background-color: $c-yellow;
  min-width: 60%;
  font-size: 1.5em;
  padding: 6px 12px;
  text-align: center;
  z-index: 2;
  margin: -23px auto 10px auto;
}

.bio {
  width: calc(50% - 8px);
  margin-right: 8px;
  text-align: center;
  font-size: 1em;
}

.title {
  display: inline-block;
  padding: 5px 12px;
  background-color: white;
  border: 3px solid $c-black;
  border-radius: 8px;
}

.text {
  font-size: .9em;
  padding: 20px 8px 8px 8px;
  box-sizing: border-box;
  background-color: $c-blue;
  border: 3px solid $c-black;
  margin: -15px 0 0 0;
}

.stats {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.statistic {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 8px;
  justify-content: space-between;
  font-size: 1em;
}

.stat {
  border: $thin-border;
  box-shadow: $block-shadow;
  background-color: $c-yellow;
  width: 75%;
  padding: 6px;
  box-sizing: border-box;
}

.stats-bio {
  display: flex;
  opacity: 0;
}

.stats-bio-appear {
  transition: opacity 1s 500ms;
  opacity: 1;
}

.dots {
  letter-spacing: 2px;
}

.value {
  border: $thin-border;
  box-shadow: $block-shadow;
  background-color: $c-yellow;
  width: 22%;
  text-align: center;
  padding: 6px 0;
  box-sizing: border-box;
}
